# virtual environment
venv/

# logs
logs/

# llm_analysis_quiz.egg-info
llm_analysis_quiz.egg-info/

# pyc files
*.pyc

# Project Plan
Project_Plan.md

# Project Report
Project.md

# Environment Variables
.env